/*首页中的样式*/
/*第一部分-头部*/
a,a:hover{color:#555;text-decoration: none;}
.header{height:254px;background: url("../images/wkt_1_10.jpg") no-repeat;background-size: cover;position:relative;}
/*第一行*/
.header>.row-one{margin:12px -15px;}
.header>.row-one .label{background: #3d3d3d;padding: 5px 10px;border-radius: 10px;display: inline-block;marin-top:10px;}
.header>.row-one .options{text-align: center;}
.header>.row-one .options>ul{margin-left: 10px;}

/*第二行*/
.header>.row-two{color: #fff;text-align:center;}
.header>.row-two>h1{margin-top: 0;}
.header>.row-two>h3{font-weight: 200;}

/*第三行*/
.header>.row-three{position:absolute;bottom:12px;}

/*第二部分*/
.buys{height: 120px;border-bottom: 1px solid #c5c5c5;margin: 0;}
.buys ul{width: 50px;margin: 20px auto 0;text-align: center;}
.buys ul>li:last-child{margin-top: 8px;}

/*第三部分轮播*/
.carousels{padding:14px 0 10px;background: #f4f4f4;border-bottom: 1px solid #c5c5c5;}
.carousels .item>img{width: 100%;}

/*第四部分  热门房源*/
.hot-rooms .hot-header{height: 48px;line-height: 48px;padding-left:15px;border-bottom: 1px solid #c5c5c5;}
.hot-rooms .hot-list .media{padding: 14px 11px;border-bottom: 1px solid #c5c5c5;}
.hot-rooms .hot-list .media-heading{font-weight: bolder;}
.hot-rooms .hot-list .media-body>p{margin: 0;font-size: 12px;}
.hot-rooms .hot-list .media-body>p>span{margin-top: 4px;display: inline-block;}